<div class="sidenav">
    <div class="sidenav-logo">
        <img src="assets/logo.png" alt="Logo">
    </div>
    <div class="top-items">
        <a href="http://localhost:4200/manage/dashboard">Dashboard</a>
        <a href="http://localhost:4200/manage/user-management">User-Management</a>
        <a href="http://localhost:4200/manage/teachers">Teachers</a>
        <a href="http://localhost:4200/manage/students">Students</a>
    </div>  
    <div class="bottom-items">
        <a href="#">Settings</a>
        <a href="http://localhost:4200/login">Logout</a>
    </div>
</div>
