<div class="students">
  <h2>Students</h2>
     <div class="students">
       
       <table>
         <h1>First Year-1st Semester</h1>
       <tr>
         <th>Name</th>
         <th>Roll Number</th>
         <th>CE1</th>
         <th>GEC1</th>
         <th>GEC2</th>
         <th>GEC3</th>
         <th>ITCC1</th>
         <th>ITCC2</th>
         <th>ITPC1</th>
         <th>NSTP1</th>
         <th>PE1</th>
         <th>Final Grade</th>
     </tr>
     <tr>
      <td>Mariana Murphy</td>
      <td>12345</td>
      <td>70</td>
      <td>75</td>
      <td>72</td>
      <td>74</td>
      <td>75</td>
      <td>72</td>
      <td>74</td>
      <td>75</td>
      <td>72</td>
      <td>73.22</td>
    </tr>
    <tr>
      <td>Paulette Paulson</td>
      <td>67890</td>
      <td>72</td>
      <td>73</td>
      <td>72</td>
      <td>72</td>
      <td>73</td>
      <td>72</td>
      <td>72</td>
      <td>73</td>
      <td>72</td>
      <td>72.5</td>
    </tr>
    <tr>
      <td>Brigitte Juarez</td>
      <td>121212</td>
      <td>80</td>
      <td>85</td>
      <td>80</td>
      <td>80</td>
      <td>85</td>
      <td>80</td>
      <td>80</td>
      <td>85</td>
      <td>80</td>
      <td>80.5</td>
    </tr>
    <tr>
      <td>Burton Fly</td>
      <td>81236</td>
      <td>75</td>
      <td>77</td>
      <td>75</td>
      <td>75</td>
      <td>77</td>
      <td>75</td>
      <td>75</td>
      <td>75</td>
      <td>77</td>
      <td>76.11</td>
    </tr>
    <tr>
      <td>Kostas Cristal</td>
      <td>825342</td>
      <td>90</td>
      <td>88</td>
      <td>90</td>
      <td>90</td>
      <td>88</td>
      <td>88</td>
      <td>85</td>
      <td>90</td>
      <td>90</td>
      <td>89.44</td>
    </tr>
    <tr>
      <td>Maija Ronan</td>
      <td>137124</td>
      <td>83</td>
      <td>77</td>
      <td>80</td>
      <td>82</td>
      <td>77</td>
      <td>77</td>
      <td>80</td>
      <td>80</td>
      <td>77</td>
      <td>79.22</td>
    </tr>
    <tr>
      <td>Diana Benson</td>
      <td>54321</td>
      <td>70</td>
      <td>72</td>
      <td>75</td>
      <td>74</td>
      <td>72</td>
      <td>74</td>
      <td>75</td>
      <td>74</td>
      <td>72</td>
      <td>73.78</td>
    </tr>
    <tr>
      <td>Delbert Weeks</td>
      <td>98765</td>
      <td>77</td>
      <td>75</td>
      <td>78</td>
      <td>75</td>
      <td>77</td>
      <td>75</td>
      <td>78</td>
      <td>75</td>
      <td>77</td>
      <td>76.67</td>
    </tr>
    <tr>
      <td>Ivory Martinez</td>
      <td>11111</td>
      <td>72</td>
      <td>73</td>
      <td>75</td>
      <td>72</td>
      <td>73</td>
      <td>77</td>
      <td>72</td>
      <td>73</td>
      <td>72</td>
      <td>73.56</td>
    </tr>
    <tr>
      <td>Crystal Li</td>
      <td>22222</td>
      <td>75</td>
      <td>77</td>
      <td>78</td>
      <td>74</td>
      <td>77</td>
      <td>75</td>
      <td>74</td>
      <td>75</td>
      <td>77</td>
      <td>75.78</td>
    </tr>
    <tr>
      <td>Horsean Barton</td>
      <td>33333</td>
      <td>74</td>
      <td>75</td>
      <td>75</td>
      <td>80</td>
      <td>74</td>
      <td>75</td>
      <td>74</td>
      <td>75</td>
      <td>74</td>
      <td>75.33</td>
    </tr>
    <tr>
      <td>Angelica Mayer</td>
      <td>44444</td>
      <td>72</td>
      <td>72</td>
      <td>74</td>
      <td>72</td>
      <td>74</td>
      <td>75</td>
      <td>70</td>
      <td>70</td>
      <td>72</td>
      <td>72.56</td>
    </tr>
    <tr>
      <td>Cletus Kirby</td>
      <td>55555</td>
      <td>70</td>
      <td>70</td>
      <td>70</td>
      <td>70</td>
      <td>70</td>
      <td>70</td>
      <td>70</td>
      <td>70</td>
      <td>70</td>
      <td>70.00</td>
    </tr>
    <tr>
      <td>Malcom Hampton</td>
      <td>623512</td>
      <td>75</td>
      <td>80</td>
      <td>85</td>
      <td>90</td>
      <td>95</td>
      <td>100</td>
      <td>80</td>
      <td>90</td>
      <td>80</td>
      <td>88.33</td>
    </tr>
    <tr>
      <td>Fredico Mayer</td>
      <td>54657</td>
      <td>72</td>
      <td>77</td>
      <td>77</td>
      <td>70</td>
      <td>77</td>
      <td>70</td>
      <td>70</td>
      <td>75</td>
      <td>70</td>
      <td>73.11</td>
    </tr>
    <tr>
      <td>Natasha Gardner</td>
      <td>749823</td>
      <td>75</td>
      <td>70</td>
      <td>70</td>
      <td>75</td>
      <td>80</td>
      <td>85</td>
      <td>75</td>
      <td>70</td>
      <td>70</td>
      <td>75.56</td>
    </tr>
    <h1>1st Year-2nd Semester</h1>
    <tr>
      <th>Name</th>
      <th>Roll Number</th>
      <th>CE2</th>
      <th>GEC4</th>
      <th>GEC5</th>
      <th>GEE1/IT Era</th>
      <th>ITCC3</th>
      <th>ITPC2</th>
      <th>ITPC3</th>
      <th>NSTP2</th>
      <th>PE2</th>
      <th>Final Grade</th>
    </tr>
 <tr>
  <td>Alice Johnson</td>
  <td>11121</td>
  <td>70</td>
  <td>80</td>
  <td>90</td>
  <td>70</td>
  <td>80</td>
  <td>70</td>
  <td>80</td>
  <td>90</td>
  <td>90</td>
  <td>80.0</td>
</tr>
<tr>
  <td>Bob Anderson</td>
  <td>22122</td>
  <td>90</td>
  <td>90</td>
  <td>80</td>
  <td>80</td>
  <td>80</td>
  <td>90</td>
  <td>90</td>
  <td>70</td>
  <td>90</td>
  <td>84.44</td>
</tr>
<tr>
  <td>Emily Davis</td>
  <td>33733</td>
  <td>80</td>
  <td>70</td>
  <td>70</td>
  <td>70</td>
  <td>90</td>
  <td>80</td>
  <td>90</td>
  <td>80</td>
  <td>70</td>
  <td>76.67</td>
</tr>
<tr>
  <td>Michael Wilson</td>
  <td>44484</td>
  <td>90</td>
  <td>80</td>
  <td>70</td>
  <td>70</td>
  <td>80</td>
  <td>90</td>
  <td>90</td>
  <td>90</td>
  <td>80</td>
  <td>83.33</td>
</tr>
<tr>
  <td>Sarah Brown</td>
  <td>55585</td>
  <td>70</td>
  <td>80</td>
  <td>80</td>
  <td>80</td>
  <td>70</td>
  <td>70</td>
  <td>80</td>
  <td>90</td>
  <td>90</td>
  <td>80.0</td>
</tr>
<tr>
  <td>David Miller</td>
  <td>66066</td>
  <td>90</td>
  <td>90</td>
  <td>90</td>
  <td>80</td>
  <td>80</td>
  <td>90</td>
  <td>90</td>
  <td>80</td>
  <td>90</td>
  <td>93.33</td>
</tr>
<tr>
  <td>Linda Taylor</td>
  <td>77767</td>
  <td>80</td>
  <td>70</td>
  <td>70</td>
  <td>70</td>
  <td>80</td>
  <td>90</td>
  <td>90</td>
  <td>80</td>
  <td>80</td>
  <td>76.67</td>
</tr>
<tr>
  <td>James Wilson</td>
  <td>88898</td>
  <td>90</td>
  <td>80</td>
  <td>90</td>
  <td>80</td>
  <td>90</td>
  <td>90</td>
  <td>90</td>
  <td>80</td>
  <td>80</td>
  <td>88.33</td>
</tr>
<tr>
  <td>Olivia Johnson</td>
  <td>911899</td>
  <td>70</td>
  <td>80</td>
  <td>90</td>
  <td>70</td>
  <td>80</td>
  <td>70</td>
  <td>80</td>
  <td>90</td>
  <td>80</td>
  <td>80.0</td>
</tr>
 <h1>2nd Year-1st Semester</h1>
 <tr>
   <th>Name</th>
   <th>Roll Number</th>
   <th>CE 3x</th>
   <th>GEC6</th>
   <th>GEC7</th>
   <th>GEE2</th>
   <th>ITCC4</th>
   <th>ITCC5</th>
   <th>ITPC4</th>
   <th>ITPC5</th>
   <th>ITPC6</th>
   <th>PE3</th>
   <th>Final Grade</th>
 </tr>
 <tr>
  <tr>
    <td>Michael Brown</td>
    <td>113511</td>
    <td>88</td>
    <td>85</td>
    <td>70</td>
    <td>92</td>
    <td>80</td>
    <td>85</td>
    <td>78</td>
    <td>92</td>
    <td>90</td>
    <td>85</td>
    <td>84.44</td>
  </tr>
  <tr>
    <td>Linda Davis</td>
    <td>222862</td>
    <td>92</td>
    <td>88</td>
    <td>85</td>
    <td>75</td>
    <td>80</td>
    <td>88</td>
    <td>70</td>
    <td>75</td>
    <td>92</td>
    <td>78</td>
    <td>82.67</td>
  </tr>
  <tr>
    <td>Amber Gillespie</td>
    <td>333413</td>
    <td>78</td>
    <td>85</td>
    <td>90</td>
    <td>70</td>
    <td>85</td>
    <td>78</td>
    <td>90</td>
    <td>78</td>
    <td>75</td>
    <td>85</td>
    <td>81.89</td>
  </tr>
  <tr>
    <td>Susan Lee</td>
    <td>449844</td>
    <td>70</td>
    <td>80</td>
    <td>78</td>
    <td>92</td>
    <td>88</td>
    <td>70</td>
    <td>85</td>
    <td>88</td>
    <td>70</td>
    <td>88</td>
    <td>81.56</td>
  </tr>
  <tr>
    <td>Richard Turner</td>
    <td>577555</td>
    <td>75</td>
    <td>78</td>
    <td>85</td>
    <td>70</td>
    <td>78</td>
    <td>92</td>
    <td>85</td>
    <td>90</td>
    <td>70</td>
    <td>85</td>
    <td>80.56</td>
  </tr>
  <tr>
    <td>Jennifer Evans</td>
    <td>661266</td>
    <td>88</td>
    <td>90</td>
    <td>78</td>
    <td>85</td>
    <td>75</td>
    <td>90</td>
    <td>92</td>
    <td>80</td>
    <td>70</td>
    <td>90</td>
    <td>85.67</td>
  </tr>
  <tr>
    <td>Daniel Clark</td>
    <td>756777</td>
    <td>85</td>
    <td>70</td>
    <td>90</td>
    <td>78</td>
    <td>92</td>
    <td>85</td>
    <td>70</td>
    <td>78</td>
    <td>85</td>
    <td>78</td>
    <td>81.33</td>
  </tr>
  <tr>
    <td>Karen Martinez</td>
    <td>883488</td>
    <td>78</td>
    <td>90</td>
    <td>75</td>
    <td>88</td>
    <td>85</td>
    <td>70</td>
    <td>90</td>
    <td>85</td>
    <td>70</td>
    <td>80</td>
    <td>80.67</td>
  </tr>
  <tr>
    <td>Thomas Harris</td>
    <td>991299</td>
    <td>75</td>
    <td>78</td>
    <td>85</td>
    <td>90</td>
    <td>78</td>
    <td>88</td>
    <td>78</td>
    <td>75</td>
    <td>70</td>
    <td>75</td>
    <td>79.78</td>
  </tr>
 <h1>2nd Year-2nd Semester</h1>
  <tr>
    <th>Name</th>
    <th>Roll Number</th>
    <th>GEC8</th>
    <th>GEE3</th>
    <th>ITCC6</th>
    <th>ITPC10</th>
    <th>ITPC7</th>
    <th>ITCC8</th>
    <th>ITPC9</th>
    <th>PE4</th>
    <th>RIZAL</th>
    <th>STATS 1x</th>
    <th>Final Grade</th>
  </tr>
  <tr>
    <td>Sarah Williams</td>
    <td>235647</td>
    <td>75</td>
    <td>88</td>
    <td>80</td>
    <td>85</td>
    <td>70</td>
    <td>78</td>
    <td>90</td>
    <td>85</td>
    <td>90</td>
    <td>75</td>
    <td>84.17</td>
  </tr>
  <tr>
    <td>David Wilson</td>
    <td>123760</td>
    <td>90</td>
    <td>80</td>
    <td>78</td>
    <td>70</td>
    <td>85</td>
    <td>78</td>
    <td>88</td>
    <td>90</td>
    <td>70</td>
    <td>75</td>
    <td>82.5</td>
  </tr>
  <tr>
    <td>Emily Johnson</td>
    <td>468696</td>
    <td>78</td>
    <td>90</td>
    <td>70</td>
    <td>80</td>
    <td>85</td>
    <td>90</td>
    <td>75</td>
    <td>70</td>
    <td>78</td>
    <td>88</td>
    <td>81.33</td>
  </tr>
  <tr>
    <td>Michael Davis</td>
    <td>127543</td>
    <td>85</td>
    <td>70</td>
    <td>78</td>
    <td>85</td>
    <td>78</td>
    <td>75</td>
    <td>85</td>
    <td>88</td>
    <td>78</td>
    <td>90</td>
    <td>80.33</td>
  </tr>
  <tr>
    <td>Alice Turner</td>
    <td>124435</td>
    <td>85</td>
    <td>90</td>
    <td>78</td>
    <td>85</td>
    <td>90</td>
    <td>85</td>
    <td>78</td>
    <td>92</td>
    <td>80</td>
    <td>75</td>
    <td>85.33</td>
  </tr>
  <tr>
    <td>David Martinez</td>
    <td>123123</td>
    <td>78</td>
    <td>85</td>
    <td>70</td>
    <td>92</td>
    <td>80</td>
    <td>85</td>
    <td>78</td>
    <td>85</td>
    <td>88</td>
    <td>70</td>
    <td>80.33</td>
  </tr>
  <tr>
    <td>Sarah Johnson</td>
    <td>312312</td>
    <td>90</td>
    <td>80</td>
    <td>70</td>
    <td>85</td>
    <td>88</td>
    <td>77</td>
    <td>92</td>
    <td>88</td>
    <td>75</td>
    <td>90</td>
    <td>84.67</td>
  </tr>
  <tr>
    <td>James Smith</td>
    <td>123151</td>
    <td>85</td>
    <td>92</td>
    <td>78</td>
    <td>90</td>
    <td>82</td>
    <td>88</td>
    <td>75</td>
    <td>90</td>
    <td>85</td>
    <td>88</td>
    <td>87.33</td>
  </tr>
  <tr>
    <td>Jamar Solis</td>
    <td>123124</td>
    <td>92</td>
    <td>88</td>
    <td>85</td>
    <td>75</td>
    <td>80</td>
    <td>88</td>
    <td>70</td>
    <td>75</td>
    <td>92</td>
    <td>78</td>
    <td>86.33</td>
  </tr>
  <tr>
    <td>William Wilson</td>
    <td>192821</td>
    <td>78</td>
    <td>85</td>
    <td>90</td>
    <td>70</td>
    <td>85</td>
    <td>78</td>
    <td>90</td>
    <td>78</td>
    <td>75</td>
    <td>85</td>
    <td>83.00</td>
  </tr>
  <h1>3rd Year-1st Sem</h1>
  <tr>
    <th>Name</th>
    <th>Roll Number</th>
    <th>ITPC11</th>
    <th>ITPC12</th>
    <th>ITPC13</th>
    <th>ITPC14</th>
    <th>ITPC15</th>
    <th>ITPE1</th>
    <th>ITPE2</th>
    <th>Final Grade</th>
  </tr>
    <tr>
      <td>Wendell Franklin</td>
      <td>102201</td>
      <td>85</td>
      <td>90</td>
      <td>88</td>
      <td>92</td>
      <td>86</td>
      <td>80</td>
      <td>88</td>
      <td>88.14</td>
    </tr>
    <tr>
      <td>Sal Wilson</td>
      <td>114002</td>
      <td>88</td>
      <td>92</td>
      <td>85</td>
      <td>90</td>
      <td>87</td>
      <td>82</td>
      <td>90</td>
      <td>89.71</td>
    </tr>
    <tr>
      <td>Frederick Zimmerman</td>
      <td>100533</td>
      <td>90</td>
      <td>88</td>
      <td>90</td>
      <td>86</td>
      <td>92</td>
      <td>85</td>
      <td>88</td>
      <td>89.57</td>
    </tr>
    <tr>
      <td>Jerry Dunlap</td>
      <td>107604</td>
      <td>82</td>
      <td>85</td>
      <td>88</td>
      <td>86</td>
      <td>84</td>
      <td>80</td>
      <td>85</td>
      <td>84.57</td>
    </tr>
    <tr>
      <td>Luann Mercer</td>
      <td>108605</td>
      <td>88</td>
      <td>90</td>
      <td>86</td>
      <td>85</td>
      <td>87</td>
      <td>84</td>
      <td>90</td>
      <td>87.71</td>
    </tr>
    <tr>
      <td>Brooks Hutchinson</td>
      <td>100766</td>
      <td>85</td>
      <td>88</td>
      <td>82</td>
      <td>80</td>
      <td>86</td>
      <td>80</td>
      <td>85</td>
      <td>84.57</td>
    </tr>
    <tr>
      <td>Cynthia Barber</td>
      <td>108607</td>
      <td>90</td>
      <td>92</td>
      <td>88</td>
      <td>92</td>
      <td>90</td>
      <td>88</td>
      <td>92</td>
      <td>90.0</td>
    </tr>
    <tr>
      <td>Ernestine Morse</td>
      <td>107608</td>
      <td>88</td>
      <td>85</td>
      <td>86</td>
      <td>90</td>
      <td>85</td>
      <td>82</td>
      <td>85</td>
      <td>86.0</td>
    </tr>
    <tr>
      <td>Jeannette Mosley</td>
      <td>123009</td>
      <td>85</td>
      <td>90</td>
      <td>88</td>
      <td>86</td>
      <td>84</td>
      <td>80</td>
      <td>88</td>
      <td>86.14</td>
    </tr>
    <tr>
      <td>Wiley Espinoza</td>
      <td>106410</td>
      <td>88</td>
      <td>85</td>
      <td>86</td>
      <td>85</td>
      <td>87</td>
    <td>85</td>
    <td>86</td>
    <td>86.0</td>
  </tr>
  
  <h1>3rd Year-2nd Sem</h1>
  <tr>
    <th>Name</th>
    <th>Roll Number</th>
    <th>ITPC16</th>
    <th>ITPC17</th>
    <th>ITCP18</th>
    <th>ITPC19</th>
    <th>ITPC20</th>
    <th>ITCC21</th>
    <th>ITPE3</th>
    <th>Final Grade</th>
  </tr>
  <tr>
    <td>Wendell Reeves</td>
    <td>123456</td>
    <td>85</td>
    <td>88</td>
    <td>90</td>
    <td>85</td>
    <td>88</td>
    <td>85</td>
    <td>90</td>
    <td>87.14</td>
  </tr>
  <tr>
    <td>Fermin Mccarty</td>
    <td>234567</td>
    <td>90</td>
    <td>85</td>
    <td>88</td>
    <td>85</td>
    <td>90</td>
    <td>85</td>
    <td>88</td>
    <td>87.86</td>
  </tr>
  <tr>
    <td>Noah Finley</td>
    <td>345678</td>
    <td>88</td>
    <td>90</td>
    <td>85</td>
    <td>88</td>
    <td>85</td>
    <td>90</td>
    <td>85</td>
    <td>87.71</td>
  </tr>
  <tr>
    <td>Jospeh Cisneros</td>
    <td>456178</td>
    <td>85</td>
    <td>88</td>
    <td>90</td>
    <td>90</td>
    <td>85</td>
    <td>88</td>
    <td>90</td>
    <td>88.57</td>
  </tr>
  <tr>
    <td>Jamal Rosales</td>
    <td>567289</td>
    <td>90</td>
    <td>85</td>
    <td>88</td>
    <td>85</td>
    <td>90</td>
    <td>85</td>
    <td>88</td>
    <td>87.86</td>
  </tr>
  <tr>
    <td>Beatriz Cooley</td>
    <td>678901</td>
    <td>88</td>
    <td>90</td>
    <td>85</td>
    <td>90</td>
    <td>88</td>
    <td>90</td>
    <td>85</td>
    <td>88.57</td>
  </tr>
  <tr>
    <td>Ronny Andrade</td>
    <td>789011</td>
    <td>85</td>
    <td>88</td>
    <td>90</td>
    <td>85</td>
    <td>85</td>
    <td>88</td>
    <td>90</td>
    <td>87.14</td>
  </tr>
  <tr>
    <td>Edith Lowe</td>
    <td>890132</td>
    <td>90</td>
    <td>85</td>
    <td>88</td>
    <td>85</td>
    <td>90</td>
    <td>85</td>
    <td>88</td>
    <td>87.86</td>
  </tr>
  <tr>
    <td>Guadalupe Norris</td>
    <td>910123</td>
    <td>88</td>
    <td>90</td>
    <td>85</td>
    <td>90</td>
    <td>88</td>
    <td>90</td>
    <td>85</td>
    <td>88.57</td>
  </tr>
  <h1>3rd Year-Summer</h1>
  <tr>
    <th>Name</th>
    <th>Roll Number</th>
    <th>ITPC22</th>
    <th>ITPC23</th>
    <th>ITPE4</th>
    <th>Final Grade</th>
  </tr>
  <tr>
    <td>Emery Houston</td>
    <td>12345</td>
    <td>88</td>
    <td>90</td>
    <td>85</td>
    <td>87.67</td>
  </tr>
  <tr>
    <td>Earl Rowland</td>
    <td>231456</td>
    <td>90</td>
    <td>88</td>
    <td>90</td>
    <td>89.33</td>
  </tr>
  <tr>
    <td>Herb Hull</td>
    <td>345567</td>
    <td>85</td>
    <td>90</td>
    <td>85</td>
    <td>86.67</td>
  </tr>
  <tr>
    <td>Alyson Reyes</td>
    <td>455678</td>
    <td>88</td>
    <td>85</td>
    <td>88</td>
    <td>87.00</td>
  </tr>
  <tr>
    <td>Catalina Heath</td>
    <td>567789</td>
    <td>90</td>
    <td>88</td>
    <td>90</td>
    <td>89.33</td>
  </tr>
  <tr>
    <td>Susan Murphy</td>
    <td>678970</td>
    <td>85</td>
    <td>90</td>
    <td>85</td>
    <td>86.67</td>
  </tr>
  <tr>
    <td>Val Whitaker</td>
    <td>788901</td>
    <td>88</td>
    <td>85</td>
    <td>88</td>
    <td>87.00</td>
  </tr>
  <tr>
    <td>Lilian Doyle</td>
    <td>897012</td>
    <td>90</td>
    <td>88</td>
    <td>90</td>
    <td>89.33</td>
  </tr>
  <tr>
    <td>Gladys Patton</td>
    <td>903123</td>
    <td>85</td>
    <td>90</td>
    <td>85</td>
    <td>86.67</td>
  </tr>
  <h1>4th Year-1st Sem</h1>
  <tr>
    <th>Name</th>
    <th>Roll Number</th>
    <th>ITPC24</th>
    <th>ITPC25</th>
    <th>ITCP26</th>
    <th>ITPE5</th>
    <th>ITPE6</th>
    <th>ITPE7</th>
    <th>Final Grade</th>
  </tr>
  <tr>
    <td>Mack Sutton
  </td>
    <td>12345</td>
    <td>88</td>
    <td>90</td>
    <td>85</td>
    <td>90</td>
    <td>88</td>
    <td>90</td>
    <td>88.71</td>
  </tr>
  <tr>
    <td>Jan Ramirez
     </td>
    <td>235456</td>
    <td>90</td>
    <td>88</td>
    <td>90</td>
    <td>88</td>
    <td>90</td>
    <td>90</td>
    <td>89.43</td>
  </tr>
  <tr>
    <td> Christopher Ryan
     </td>
    <td>341567</td>
    <td>85</td>
    <td>90</td>
    <td>85</td>
    <td>90</td>
    <td>88</td>
    <td>85</td>
    <td>87.71</td>
  </tr>
  <tr>
    <td> Sterling Cunningham
      </td>
    <td>457678</td>
    <td>88</td>
    <td>85</td>
    <td>88</td>
    <td>85</td>
    <td>90</td>
    <td>85</td>
    <td>87.14</td>
  </tr>
  <tr>
    <td>Nicky Case</td>
    <td>568789</td>
    <td>90</td>
    <td>88</td>
    <td>90</td>
    <td>90</td>
    <td>88</td>
    <td>88</td>
    <td>89.14</td>
  </tr>
  <tr>
    <td>Angel Ferrels</td>
    <td>678790</td>
    <td>85</td>
    <td>90</td>
    <td>85</td>
    <td>88</td>
    <td>85</td>
    <td>90</td>
    <td>87.71</td>
  </tr>
  <tr>
    <td>Bradford Joyce</td>
    <td>768901</td>
    <td>88</td>
    <td>85</td>
    <td>88</td>
    <td>90</td>
    <td>85</td>
    <td>85</td>
    <td>87.43</td>
  </tr>
  <tr>
    <td>Fredric Foster</td>
    <td>890182</td>
    <td>90</td>
    <td>88</td>
    <td>90</td>
    <td>88</td>
    <td>90</td>
    <td>90</td>
    <td>89.43</td>
  </tr>
  <tr>
    <td>Ernestine Prince</td>
    <td>90123</td>
    <td>85</td>
    <td>90</td>
    <td>85</td>
    <td>85</td>
    <td>90</td>
    <td>85</td>
    <td>87.14</td>
  </tr>
  <tr>
    <td>Nathanael Mcfarland</td>
    <td>10101</td>
    <td>90</td>
    <td>85</td>
    <td>90</td>
    <td>85</td>
    <td>85</td>
    <td>85</td>
    <td>87.43</td>
  </tr>
  <h1>4th Year-2nd Semester</h1>
  <b>OJT</b> 
     </table>
   </div>
 </div>