$color: #754668;
$color2: #ffbf00;
$color3: #4DAA57;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  border: 2px solid #000; /* Set the border style and color */
  padding: 20px; /* Add padding inside the border to create space for your content */
}
h1{ 
  color: #fff;
}

.card{
  display: flex;
  gap: 20px;
}
.card-sub{
  display: flex;
  gap: 20px;
}
.card-sub2{
  display: flex;
  gap: 20px;
}


app-card-small.main {
  &:nth-child(odd) {
     
      display: flex;
      height: 200px;
      background-color: $color2;
      margin: 10px;
      padding: 0;
      box-sizing: border-box;
      align-items: center;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s ease;
      cursor: pointer;
      justify-content: center;
      text-decoration: none;
      color: #fff; 
      font-size: 16px;  
      font-weight: bold;  
    
  }

  &:nth-child(even) {
     
      display: flex;
      height: 200px;
      align-items: center;
      background-color: $color;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s ease;
      cursor: pointer;
      justify-content: center;
      text-decoration: none;
      color: #fff;  
      font-size: 16px;  
      font-weight: bold;  
    
  }

  &:hover {
    a {
      transform: scale(1.05);
    }
  }
}
app-card-small.sub {
  &:nth-child(odd) {
     
      display: flex;
      height: 100px;
      background-color: $color2;
      margin: 10px;
      padding: 0;
      box-sizing: border-box;
      align-items: center;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s ease;
      cursor: pointer;
      justify-content: center;
      text-decoration: none;
      color: #fff; 
      font-size: 16px;  
      font-weight: bold;  
    
  }

  &:nth-child(even) {
     
      display: flex;
      height: 100px;
      align-items: center;
      background-color: $color;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s ease;
      cursor: pointer;
      justify-content: center;
      text-decoration: none;
      color: #fff;  
      font-size: 16px;  
      font-weight: bold;  
    
  }

  &:hover {
    a {
      transform: scale(1.05);
    }
  }
}