<body>
  <div class="table">
    <div class="students">
        <a href="http://localhost:4200/manage/students"><h2>Students</h2></a>
        <table>
          <h1>1st Year-1st Semester</h1>
          <tr>
            <th>Name</th>
            <th>Roll Number</th>
            <th>CE1</th>
            <th>GEC1</th>
            <th>GEC2</th>
            <th>GEC3</th>
            <th>ITCC1</th>
            <th>ITCC2</th>
            <th>ITPC1</th>
            <th>NSTP1</th>
            <th>PE1</th>
            <th>Final Grade</th>
          </tr>
          <tr>
            <td>Mariana Murphy</td>
            <td>12345</td>
            <td>70</td>
            <td>75</td>
            <td>72</td>
            <td>74</td>
            <td>75</td>
            <td>72</td>
            <td>74</td>
            <td>75</td>
            <td>72</td>
            <td>73.22</td>
          </tr>
          <tr>
            <td>Paulette Paulson</td>
            <td>67890</td>
            <td>72</td>
            <td>73</td>
            <td>72</td>
            <td>72</td>
            <td>73</td>
            <td>72</td>
            <td>72</td>
            <td>73</td>
            <td>72</td>
            <td>72.5</td>
          </tr>
          <tr>
            <td>Brigitte Juarez</td>
            <td>121212</td>
            <td>80</td>
            <td>85</td>
            <td>80</td>
            <td>80</td>
            <td>85</td>
            <td>80</td>
            <td>80</td>
            <td>85</td>
            <td>80</td>
            <td>80.5</td>
          </tr>
          <tr>
            <td>Burton Fly</td>
            <td>81236</td>
            <td>75</td>
            <td>77</td>
            <td>75</td>
            <td>75</td>
            <td>77</td>
            <td>75</td>
            <td>75</td>
            <td>75</td>
            <td>77</td>
            <td>76.11</td>
            </tr>
        <h1>1st Year-2nd Semester</h1>
        <tr>
          <th>Name</th>
          <th>Roll Number</th>
          <th>CE2</th>
          <th>GEC4</th>
          <th>GEC5</th>
          <th>GEE1/IT Era</th>
          <th>ITCC3</th>
          <th>ITPC2</th>
          <th>ITPC3</th>
          <th>NSTP2</th>
          <th>PE2</th>
          <th>Final Grade</th>
        </tr>
        <tr>
          <td>Alice Johnson</td>
          <td>11121</td>
          <td>70</td>
          <td>80</td>
          <td>90</td>
          <td>70</td>
          <td>80</td>
          <td>70</td>
          <td>80</td>
          <td>90</td>
          <td>90</td>
          <td>80.0</td>
        </tr>
        <tr>
          <td>Bob Anderson</td>
          <td>22122</td>
          <td>90</td>
          <td>90</td>
          <td>80</td>
          <td>80</td>
          <td>80</td>
          <td>90</td>
          <td>90</td>
          <td>70</td>
          <td>90</td>
          <td>84.44</td>
        </tr>
        <tr>
          <td>Emily Davis</td>
          <td>33733</td>
          <td>80</td>
          <td>70</td>
          <td>70</td>
          <td>70</td>
          <td>90</td>
          <td>80</td>
          <td>90</td>
          <td>80</td>
          <td>70</td>
          <td>76.67</td>
        </tr>
        <tr>
          <td>Michael Wilson</td>
          <td>44484</td>
          <td>90</td>
          <td>80</td>
          <td>70</td>
          <td>70</td>
          <td>80</td>
          <td>90</td>
          <td>90</td>
          <td>90</td>
          <td>80</td>
          <td>83.33</td>
        </tr>
            <h1>2nd Year-1st Semester</h1>
            <tr>
              <th>Name</th>
              <th>Roll Number</th>
              <th>CE 3x</th>
              <th>GEC6</th>
              <th>GEC7</th>
              <th>GEE2</th>
              <th>ITCC4</th>
              <th>ITCC5</th>
              <th>ITPC4</th>
              <th>ITPC5</th>
              <th>ITPC6</th>
              <th>PE3</th>
              <th>Final Grade</th>
            </tr>
            <tr>
             <tr>
               <td>Michael Brown</td>
               <td>113511</td>
               <td>88</td>
               <td>85</td>
               <td>70</td>
               <td>92</td>
               <td>80</td>
               <td>85</td>
               <td>78</td>
               <td>92</td>
               <td>90</td>
               <td>85</td>
               <td>84.44</td>
             </tr>
             <tr>
               <td>Linda Davis</td>
               <td>222862</td>
               <td>92</td>
               <td>88</td>
               <td>85</td>
               <td>75</td>
               <td>80</td>
               <td>88</td>
               <td>70</td>
               <td>75</td>
               <td>92</td>
               <td>78</td>
               <td>82.67</td>
             </tr>
             <tr>
               <td>Amber Gillespie</td>
               <td>333413</td>
               <td>78</td>
               <td>85</td>
               <td>90</td>
               <td>70</td>
               <td>85</td>
               <td>78</td>
               <td>90</td>
               <td>78</td>
               <td>75</td>
               <td>85</td>
               <td>81.89</td>
             </tr>
             <tr>
               <td>Susan Lee</td>
               <td>449844</td>
               <td>70</td>
               <td>80</td>
               <td>78</td>
               <td>92</td>
               <td>88</td>
               <td>70</td>
               <td>85</td>
               <td>88</td>
               <td>70</td>
               <td>88</td>
               <td>81.56</td>
             </tr>
             <h1>2nd Year-2nd Semester</h1>
  <tr>
    <th>Name</th>
    <th>Roll Number</th>
    <th>GEC8</th>
    <th>GEE3</th>
    <th>ITCC6</th>
    <th>ITPC10</th>
    <th>ITPC7</th>
    <th>ITCC8</th>
    <th>ITPC9</th>
    <th>PE4</th>
    <th>RIZAL</th>
    <th>STATS 1x</th>
    <th>Final Grade</th>
  </tr>
  <tr>
    <td>Sarah Williams</td>
    <td>235647</td>
    <td>75</td>
    <td>88</td>
    <td>80</td>
    <td>85</td>
    <td>70</td>
    <td>78</td>
    <td>90</td>
    <td>85</td>
    <td>90</td>
    <td>75</td>
    <td>84.17</td>
  </tr>
  <tr>
    <td>David Wilson</td>
    <td>123760</td>
    <td>90</td>
    <td>80</td>
    <td>78</td>
    <td>70</td>
    <td>85</td>
    <td>78</td>
    <td>88</td>
    <td>90</td>
    <td>70</td>
    <td>75</td>
    <td>82.5</td>
  </tr>
  <tr>
    <td>Emily Johnson</td>
    <td>468696</td>
    <td>78</td>
    <td>90</td>
    <td>70</td>
    <td>80</td>
    <td>85</td>
    <td>90</td>
    <td>75</td>
    <td>70</td>
    <td>78</td>
    <td>88</td>
    <td>81.33</td>
  </tr>
  <tr>
    <td>Michael Davis</td>
    <td>127543</td>
    <td>85</td>
    <td>70</td>
    <td>78</td>
    <td>85</td>
    <td>78</td>
    <td>75</td>
    <td>85</td>
    <td>88</td>
    <td>78</td>
    <td>90</td>
    <td>80.33</td>
  </tr>
  <h1>3rd Year-1st Sem</h1>
  <tr>
    <th>Name</th>
    <th>Roll Number</th>
    <th>ITPC11</th>
    <th>ITPC12</th>
    <th>ITPC13</th>
    <th>ITPC14</th>
    <th>ITPC15</th>
    <th>ITPE1</th>
    <th>ITPE2</th>
    <th>Final Grade</th>
  </tr>
    <tr>
      <td>Wendell Franklin</td>
      <td>102201</td>
      <td>85</td>
      <td>90</td>
      <td>88</td>
      <td>92</td>
      <td>86</td>
      <td>80</td>
      <td>88</td>
      <td>88.14</td>
    </tr>
    <tr>
      <td>Sal Wilson</td>
      <td>114002</td>
      <td>88</td>
      <td>92</td>
      <td>85</td>
      <td>90</td>
      <td>87</td>
      <td>82</td>
      <td>90</td>
      <td>89.71</td>
    </tr>
    <tr>
      <td>Frederick Zimmerman</td>
      <td>100533</td>
      <td>90</td>
      <td>88</td>
      <td>90</td>
      <td>86</td>
      <td>92</td>
      <td>85</td>
      <td>88</td>
      <td>89.57</td>
    </tr>
    <tr>
      <td>Jerry Dunlap</td>
      <td>107604</td>
      <td>82</td>
      <td>85</td>
      <td>88</td>
      <td>86</td>
      <td>84</td>
      <td>80</td>
      <td>85</td>
      <td>84.57</td>
    </tr>
    <h1>3rd Year-2nd Sem</h1>
  <tr>
    <th>Name</th>
    <th>Roll Number</th>
    <th>ITPC16</th>
    <th>ITPC17</th>
    <th>ITCP18</th>
    <th>ITPC19</th>
    <th>ITPC20</th>
    <th>ITCC21</th>
    <th>ITPE3</th>
    <th>Final Grade</th>
  </tr>
  <tr>
    <td>Wendell Reeves</td>
    <td>123456</td>
    <td>85</td>
    <td>88</td>
    <td>90</td>
    <td>85</td>
    <td>88</td>
    <td>85</td>
    <td>90</td>
    <td>87.14</td>
  </tr>
  <tr>
    <td>Fermin Mccarty</td>
    <td>234567</td>
    <td>90</td>
    <td>85</td>
    <td>88</td>
    <td>85</td>
    <td>90</td>
    <td>85</td>
    <td>88</td>
    <td>87.86</td>
  </tr>
  <tr>
    <td>Noah Finley</td>
    <td>345678</td>
    <td>88</td>
    <td>90</td>
    <td>85</td>
    <td>88</td>
    <td>85</td>
    <td>90</td>
    <td>85</td>
    <td>87.71</td>
  </tr>
  <tr>
    <td>Jospeh Cisneros</td>
    <td>456178</td>
    <td>85</td>
    <td>88</td>
    <td>90</td>
    <td>90</td>
    <td>85</td>
    <td>88</td>
    <td>90</td>
    <td>88.57</td>
  </tr>
  <h1>3rd Year-Summer</h1>
  <tr>
    <th>Name</th>
    <th>Roll Number</th>
    <th>ITPC22</th>
    <th>ITPC23</th>
    <th>ITPE4</th>
    <th>Final Grade</th>
  </tr>
  <tr>
    <td>Emery Houston</td>
    <td>12345</td>
    <td>88</td>
    <td>90</td>
    <td>85</td>
    <td>87.67</td>
  </tr>
  <tr>
    <td>Earl Rowland</td>
    <td>231456</td>
    <td>90</td>
    <td>88</td>
    <td>90</td>
    <td>89.33</td>
  </tr>
  <tr>
    <td>Herb Hull</td>
    <td>345567</td>
    <td>85</td>
    <td>90</td>
    <td>85</td>
    <td>86.67</td>
  </tr>
  <tr>
    <td>Alyson Reyes</td>
    <td>455678</td>
    <td>88</td>
    <td>85</td>
    <td>88</td>
    <td>87.00</td>
  </tr>
  <h1>4th Year-1st Sem</h1>
  <tr>
    <th>Name</th>
    <th>Roll Number</th>
    <th>ITPC24</th>
    <th>ITPC25</th>
    <th>ITCP26</th>
    <th>ITPE5</th>
    <th>ITPE6</th>
    <th>ITPE7</th>
    <th>Final Grade</th>
  </tr>
  <tr>
    <td>Mack Sutton
  </td>
    <td>12345</td>
    <td>88</td>
    <td>90</td>
    <td>85</td>
    <td>90</td>
    <td>88</td>
    <td>90</td>
    <td>88.71</td>
  </tr>
  <tr>
    <td>Jan Ramirez
     </td>
    <td>235456</td>
    <td>90</td>
    <td>88</td>
    <td>90</td>
    <td>88</td>
    <td>90</td>
    <td>90</td>
    <td>89.43</td>
  </tr>
  <tr>
    <td> Christopher Ryan
     </td>
    <td>341567</td>
    <td>85</td>
    <td>90</td>
    <td>85</td>
    <td>90</td>
    <td>88</td>
    <td>85</td>
    <td>87.71</td>
  </tr>
  <tr>
    <td> Sterling Cunningham
      </td>
    <td>457678</td>
    <td>88</td>
    <td>85</td>
    <td>88</td>
    <td>85</td>
    <td>90</td>
    <td>85</td>
    <td>87.14</td>
  </tr>
        </table>
        <p>More on Students Page</p>
      </div>
    </div>
    <div class="teachers">
        <a href="http://localhost:4200/manage/teachers"><h2>Teachers</h2></a>
        <table>
          <tr>
            <th>Name</th>
            <th>Suject</th>
            <th>Teaching Experience</th>
          </tr>
          <tr>
            <td>Jane Doe</td>
            <td>CE1, CE2, CE 3x</td>
            <td>7 years</td>
        </tr>
        <tr>
            <td>John Smith</td>
            <td>PE1, PE2, PE3, PE4</td>
            <td>5 years</td>
        </tr>
        <tr>
            <td>Muhammad Janina</td>
            <td>ITPC1, ITPC2, ITCC4</td>
            <td>9 years</td>
        </tr>
        <tr>
            <td>Cadeyrn Asya</td>
            <td>ITCC1, ITCC2, ITPC3</td>
            <td>6 years</td>
        </tr>
        </table>
        <p>More on Teachers Page</p>
      </div>
</body>